
body{
    background-image: url(./images/adrian-infernus-GLf7bAwCdYg-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
   
}

/*Header & Paragraph*/

.header-name{
    text-align: center;
    margin: 30px;
    font-size: 50px;
    font-family: 'Kanit', sans-serif;
    color: white;
    text-shadow: 0 0 10px rgb(69, 57, 240) ;
}

.para1{
    margin: 0 auto;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    width: 450px;
}

/*Buttons*/

.buttons-container{
    margin: 50px;
    display: flex;  
}

.buttons-items{
    margin: 0 auto;
    flex-wrap: wrap;
    display: flex;  
    gap: 10px;
    
}

.btn{
    font-size: 19px;
    border: 1px solid rgb(114, 144, 243);
    padding: 12px;
    font-family: 'Trykker', serif;
    color:  rgb(0, 0, 0);
    background-color:  rgb(228, 229, 231);
    box-shadow: 0 0 10px rgb(223, 158, 231);
    cursor: pointer;
    border-radius: 5px;
    -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.btn:hover, .btn:active, .btn:focus{
    -webkit-transform: scale(1.2);
  transform: scale(1.2);
  box-shadow: 0 0 10px rgb(241, 133, 255);

}

#base{
    position: relative;
    left: 5px;
}


/*Containers*/

.container{
    margin: 0 auto;
    height: 600px;
    width: 600px;
    background-color: rgb(255, 255, 255);
    display: grid;
    border: 2px solid rgb(243, 126, 216);
    box-shadow: 0 0 10px rgb(241, 133, 255);
    margin-top: 20px;
    margin-bottom: 50px;
  }

  /*Copyright*/

#copyright{
    display: flex;
    justify-content: center;
}

#copyright p{
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/*UI*/

@media (max-width: 550px){
    .header-name{
        text-align: center;
        font-size: 30px;
    }

    .para1{
        text-align: center;
        font-size: 15px;
    }

    .buttons-items{
        width: 300px;
        justify-content: center;
    }

    .btn{
        font-size: 15px;
    }

    .container{
        width: 350px;
        height: 350px;
        justify-content: center;
    }

    #copyright p{
        font-size: 10px;
    }
}